:root {
  --main-text-color: #2E2F42;
  --second-text-color: #434455;
  --hover-link-color: #404BBF;
  --logo-brand-color: #4D5AE5;
  --white-text-color: #FFFFFF;
  --footer-logo-color: #F4F4FD;
  --footer-text-color: #E7E9FC;

  --main-background-color: #FFFFFF;
  --second-background-color: #F4F4FD;
  --btn-background-color: #4D5AE5;
  --hover-background-color:#404BBF;
  --dark-background-color: #2E2F42;
}


body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14;
    font-weight: 500;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
 
.list {
    list-style: none;
  }

.link {
    text-decoration: none;
    color: inherit;
 }

.link:hover, .link:focus {
color: var(--hover-link-color);
}

.btn {
  cursor: pointer;
}
/* ----------HEADER------------ */

 .header { }

.header-navigation {}

.header-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: inherit;
}

.logo-part {
color: var(--logo-brand-color);
}

.navigation-list {}

.navigation-item {}

.navigation-link {
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: inherit;
}


.contacts {}

.contacts-item {}

.contacts-link {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--second-text-color);
}

.contacts-link:hover, .contacts-link:focus{
  color: var(--logo-brand-color);
}
/* -----------HERO----------- */

.hero {
background-color: var(--dark-background-color);   
}

.hero-title {
font-weight: 600;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--white-text-color);
}

.hero-btn {
font-family: inherit;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.19;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--white-text-color);
background-color: var(--btn-background-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}


.hero-btn:hover, .hero-btn:focus {
background-color: var(--hover-background-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

/* -----------PREFERENCES----------- */
.preferences {}

.preferences-list {}

.preferences-item {}

.preferences-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.preferences-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--second-text-color);
}

/* -----------WORK----------- */

.work {}

.work-title {
font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.work-list {}

.work-item {}
  

/* -----------TEAM----------- */

.team {
background-color: var(--second-background-color);
}

.team-title {
font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.team-list {}

.team-item {
background-color: var(--main-background-color);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
width: 264px;
}

.team-name {
font-weight: 500;
font-size: 20px;
line-height:1.2;
text-align: center;
letter-spacing: 0.02em;
}

.team-position {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--second-text-color);
}

/* -----------FOOTER----------- */

.footer {
background-color: var(--dark-background-color);
}

.footer-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--footer-logo-color);
}

.footer-offer {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--footer-text-color);
}

/* -----------PORTFOLIO----------- */

.portfolio {}

.portfolio-title {}

.filter-list {}

.filter-item {}

.filter-btn {
font-family: inherit;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--logo-brand-color);
background-color: var(--second-background-color);
border: 1px solid var(--footer-text-color);
border-radius: 4px;
}

.filter-btn:hover, .filter-btn:focus {
color: var(--white-text-color);
background-color: var(--hover-background-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.portfolio-list {}

.portfolio-item {
background-color: var(--main-background-color); 
}
.portfolio-link {}

.portfolio-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.06em;
letter-spacing: 0.02em;
color: inherit;
}

.portfolio-type {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--second-text-color);
}



